/* ContactForm.module.css */

.formContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 12px;
  background-color: rgba(29, 101, 86, 0.6);
  border: 3px solid #f08080;
  border-radius: 4px;
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  color: #0d0e0e;
  font-size: 20px;
}

.inputField {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 2px solid #f08080;
  border-radius: 4px;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.submitButton {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  padding: 8px 12px;
  font: inherit;
  cursor: pointer;
  border-radius: 4px;
  border: 3px solid #f08080;
  color: #f08080;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitButton:hover {
  border: 3px solid #f3f0f2;
  background-color: rgba(29, 101, 86, 0.6);
}

.inputField:hover {
  border: 3px solid #f3f0f2;
  background-color: rgba(29, 101, 86, 0.6);
}
