/* App.css */

h1 {
  text-align: center;
  color: #252929;
  font-size: 60px;
  padding: 20px;
  text-shadow: -3px -1px 0 rgb(225, 222, 225);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
}
