.contactList {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 12px;
  border-radius: 4px;
  background-color: rgba(29, 101, 86, 0.6);
  border: 3px solid #f08080;
  list-style: none;
}

.contactItem {
  background-color: #ffffff;
  border: 3px solid #f08080;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
